@import 'header.css';
@import 'footer.css';

body {
  background: url('../images/photo-1513151233558-d860c5398176.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

#postsite_container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr 3fr min-content min-content;
  align-items: center;
}

.postpage_user {
  flex: 1;
}

.usernote {
  display: flex;
  align-items: baseline;
}

.username h5 {
  font-family: cursive;
  font-size: 28px;
  font-weight: bold;
  color: rgb(3, 3, 3);
  padding: 40px 40px;
}

.timeago h6 {
  font-family: cursive;
  font-size: 15px;
  color: rgb(3, 3, 3);
}
.postpage_body {
  flex: 7;
  justify-content: center;
}

#blog {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 80%;
  grid-gap: 2em;
  border: 1px #fff solid;
  margin: auto;
}

/* #post_holder {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
} */

#post_holder {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: stretch;
}

/* #recent_post {
  display: flex;
  border: 1px #fff solid;
  margin: 20 50px;
} */
.postpage_body .postpage_title > h2 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50px;
}

.postpage_body {
  justify-content: stretch;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(5, 5, 5);
  padding: 50px;
}

.body_flex {
  display: grid;
  grid-template-rows: repeat(1fr 1fr min-content) wrap;
  justify-content: center;
  margin-left: 100px;
}

.postpage_description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.postpage_body #postpageimg {
  background-image: url('../images/Harry7534.jpg');
  align-self: stretch;
  background-size: cover;
  justify-content: center;
  height: 45vw;
}

/* #recent_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(500px, auto);

  justify-content: stretch;
  align-items: stretch;
} */

#recent_post {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  justify-content: space-between;
  height: 45vh;
  padding-top: 100px;
}

#recent_post > div {
  width: 40vh;
  border: 1px #fff solid;
  justify-content: stretch;
  align-items: center;
}

.recent_post1 {
  display: grid;
  grid-gap: 0;
  grid-template-rows: 7fr 1fr 1fr;
  justify-content: contain;
}

.recent_post1 #rp_img1 {
  background-image: url('../images/Life6937.jpg');
  background-size: cover;

  height: auto;
  justify-content: center;
  align-self: stretch;
}

#rp_title1 {
  justify-self: center;
}

#rp_title2 {
  justify-self: center;
}
#rp_title3 {
  justify-self: center;
}

#rp_title1 > a {
  text-decoration: none;
}

#rp_title2 > a {
  text-decoration: none;
}

#rp_title3 > a {
  text-decoration: none;
}

#rp_title1 > a > h4 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

#rp_title2 > a > h4 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

#rp_title3 > a > h4 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

#rp_comment {
  justify-self: end;
  padding: 15px;
}

.recent_post2 {
  display: grid;
  grid-gap: 0;
  grid-template-rows: 7fr 1fr 1fr;
  justify-content: stretch;
}

.recent_post2 #rp_img2 {
  background-image: url('../images/No5069.jpg');
  background-size: cover;

  height: auto;
  justify-content: stretch;
  align-self: stretch;
}

.recent_post3 {
  display: grid;
  grid-gap: 0;
  grid-template-rows: 7fr 1fr 1fr;
  justify-content: stretch;
}

.recent_post3 #rp_img3 {
  background-image: url('../images/purple6679.jpg');
  background-size: cover;

  height: auto;
  justify-content: stretch;
  align-self: stretch;
}

.comment_button {
  padding-top: 50px;
  justify-content: center;
  justify-self: center;
}

.comment_button > button {
  padding: 30px;
  border-radius: 10px;
}
